SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=yut.klintsi@yandex.ru
SMTP_PASS=your_app_password_here
SMTP_FROM="Гостиница Уют <yut.klintsi@yandex.ru>"
CALLBACK_TO=yut.klintsi@yandex.ru
